<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h1 class="h4">{{title}}</h1>
        </div>
        <div class="card-body">
          <p class="lead">¡La aplicación está funcionando correctamente!</p>
          <p>{{message}}</p>
          <hr>
          <h5>Rutas disponibles:</h5>
          <ul>
            <li><a href="/">Página de inicio</a></li>
            <li><a href="/test">Ruta de prueba (API)</a></li>
            <li><a href="/facturas/emitidas">Facturas Emitidas</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
